@media screen and (max-width: 768px){
    #NavBar{
        display:none;
    }

    nav{
        height: 80px;
    }

    #burger{
        display: flex;
    }
    
    .menu-icon.open span:nth-child(2){
        opacity: 0;
    }
    .menu-icon.open span:nth-child(1){
        transform:translateY(13.4px) rotate(45deg);
    }
    .menu-icon.open span:nth-child(3){
        transform:translateY(-13.4px) rotate(-45deg);
    }

    .menu-links{
        position: fixed;
        left: -100%;
        top: 11%;
        gap: 0;
        width: 100%;
        flex-direction: column;
        background-color: #6BEDFF;
        text-align: center;
        fill-opacity: 50%;
        transition: 0.3s;
    }

    .menu-links.open{
        left: 0;
    }

    .button{
        margin: 1rem  ;
    }

    a:hover{
        text-underline-offset: 0.4rem;
    }

    pre{
        font-size: small;
    }

    .title{
        transform: rotate(0deg) translate(5vw, 17vh);
    }
    .title span{
        color: black;
        background-color: black;
    }

    .profile{
        height: 50vh;
        width: 50vw;
        position: absolute;
        border-width: 25px;
        padding: 1rem;
        transform: translate(55vw, 15vh);
    }

    .Person2{
        position: absolute;
        height: 70vh;
        transform: translate(0vw, 30vh);
    }

    .about {
        position: absolute;
        height: 14vh;
        width: 35vw;
        transform: translate(30vw,-130vh);
    }

    .Introduction{
        font-size: large;
        padding-left: 25vw; padding-top: 15vh;
    }

    .polygon1{
        padding-left: 45vw;
        height: 18vh;
    }

    a .resume{
        margin-left: 20vw;
        width: 35vw;
    }

    .polygon1 a:nth-child(1){
        padding-top: 2rem;
        transform: translateX(45vw);
    }

    .marc{
        overflow: hidden;
        height: 100vh;
        transform: translateX(-10vw);
    }

    .card{
        height: 20vh;
        transform: translate(-45vw, 35vh);
    }

    .contacts{
        transform: translate(-50vw,17vh);
        height: 20vh;
        width: 45vw;
    }
}
